-r requirements.txt
pep8-naming
pycodestyle
pyflakes
black
flake8
autopep8
isort
pytest
pytest-xdist
pytest-cov
coverage
pytype>=2020.6.1; platform_system != "Windows"
types-pkg_resources
mypy>=0.790
